/* ---------------------------------------------------
    GENERAL
----------------------------------------------------- */

body {
  font-size: 13pt;
}

h2 {
  margin-top: 0;
}


/* ---------------------------------------------------
    HEADER STYLE
----------------------------------------------------- */

#header_wrap {
    background: #d04321;
    background: -moz-linear-gradient(top, #d04321, #c77);
    background: -webkit-linear-gradient(top, #d04321, #c77);
}

#header_wrap .inner {
    padding: 16px 10px 10px 10px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

#header_wrap h2 {
  margin-top: 0;
  font-size:26px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #d04321;
    color: #fff;
    transition: all 0.3s;
}

#sidebar {
    margin-left: -250px;
}

#sidebar.active {
    margin-left: 0;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #d04321;
  border-bottom: 1px solid #fff;
}

#sidebar .sidebar-header h3 {
  color: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}
#sidebar ul li a:hover {
    color: #222;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #da5434
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #da5434
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}
  
  
/* Extra */
  
  
.wrapper {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

.overlay {
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  /* middle layer, i.e. appears below the sidebar */
  z-index: 9998;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}

table {
  border-collapse: collapse;
}


.nextMatch {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #666;
  background-color: white;
  line-height: 1.2;
  padding: 0px;
  margin-bottom:6px;
  max-width: 600px;
}

.nextMatch ._class {
  font-size: 20px;
}
.nextMatch .teams {
  font-size: 26px;
}
.nextMatch .whenWhere {
  margin-top:6px;
}

.nextMatch table,
.allMatches table {
  width: 100%;
  border-collapse: collapse;
  border: 0px;
  margin: 0;
}

.todaysMatchesTv table {
  border-collapse: collapse;
  border: 0px;
  margin: 0;
}


.nextMatch table td,
.allMatches table td,
.todaysMatchesTv td {
  border:0;
}
.allMatches table td,
.todaysMatchesTv td {
  padding:0;
  padding-right:10px;  
  padding-top:8px;
}



.allMatches .oneMatch td,
.todaysMatchesTv .oneMatch td {
  padding-bottom: 8px;
  border-bottom: 1px dotted #aaa;
}
.allMatches .oneMatch-nodots td {
  padding-bottom: 8px;
}

.allMatches h2 {
  margin-bottom:0;
  margin-top:10px;
}

.allMatches .score,
.todaysMatchesTv .score {
  font-size: 26px;
}

.allMatches button {
  margin-top:6px;
}

a.nextMatchLink:link {
  text-decoration: none;
}

a.nextMatchLink {
  color:#222;
}

a.nextMatchLink:hover,
a.nextMatchLink:focus {
  color:#23527c;
}

.nextMatchScore {
  font-size: 40px;
  float: right;
}

.nextMatchText {
  text-align: center;
}
.matchesHeader {
  text-align: center;
  margin-top:16px;
}

#todaysMatches {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.reportMatch {
  margin-top:4px;
  margin-bottom:4px;
}